html{
    /*background-color: #62C2FE;*/
}

.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover{
    color: #E80000;
}

a {
    color: #E80000;
}

.navbar-item img {
    max-height: 3rem;
}

.color_1{
    background-color: #62C2FE;
    color: whitesmoke;
}

.color_2{
    color: #E80000;
}

.is-horizontal-center {
    justify-content: center;
  }

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: rgb(232,0,0,.50);
    border-top-color: rgb(232,0,0,.50);
    border-right-color: rgb(232,0,0,.50);
    border-bottom-color: rgb(232,0,0,.50);
    border-left-color: rgb(232,0,0,.50);
}

.input:hover, .is-hovered.input, .is-hovered.textarea, .select select.is-hovered, .select select:hover, .taginput .is-hovered.taginput-container.is-focusable, .taginput .taginput-container.is-focusable:hover, .textarea:hover{
    border-color: #E80000;
    border-top-color: rgb(232,0,0,.50);
    border-right-color: rgb(232,0,0,.50);
    border-bottom-color: rgb(232,0,0,.50);
    border-left-color: rgb(232,0,0,.50);    
}

.input:active, .input:focus, .is-active.input, .is-active.textarea, .is-focused.input, .is-focused.textarea, .select select.is-active, .select select.is-focused, .select select:active, .select select:focus, .taginput .is-active.taginput-container.is-focusable, .taginput .is-focused.taginput-container.is-focusable, .taginput .taginput-container.is-focusable:active, .taginput .taginput-container.is-focusable:focus, .textarea:active, .textarea:focus {
    border-color:  #E80000;  
    box-shadow: 0 0 0 0.125em  rgb(232,0,0,.25);
}